node_modules
.next
npm-debug.log
.git
.gitignore
.vscode
.env
.env.local
.env.development
.env.test
.env.production
coverage
build.log
apps/**/node_modules
apps/**/dist
apps/**/target
.m2
.npm-cache
.tools
